#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:#008cba; 
}
.container{ 
 height:100%;
 display:flex;
 align-items:center;
 justify-content:center;
}
.content{
  background-color:white;
  color: #000;
  width:500px;
}
img{
  width: 100%;
  height: 75px;
  object-fit: cover;
}
.form-title{
  padding:10px 40px 0px;
}
form{
  padding:0px 40px;
}
input[type=text], [type=email]{
  border: none;
  border-bottom: 1px solid black;
  background-color: #ffffff;
  outline:none;
  color: #000;
  width:100%;
  margin: 8px 0;
  padding:10px 0;
}
input[type=number]{
  border: none;
  color: #000;
  border-bottom: 1px solid black;
  outline:none;
  margin: 8px 0;
  padding:5px 0;
}
input :hover {
  background-color: red;
}








button{
  color:#ffffff !important;
  background-color: #333333 !important;
  height:40px;
  width:25%;
  margin-top:15px;
  margin-bottom: 15px;
  cursor: pointer;
  border:none;
  border-radius:2%;
  outline:none;
  text-align:center;
  font-size:16px;
  text-decoration:none;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
button:hover{
  background-color:#33333399 !important;
}